<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container" id="app">
        <div id="mainImg">
            <img src="Images/weather.jpg" class="img-circle">
        </div>
        <form>
            <input type="text" placeholder="Introduce a city" class="form-control" id="inputCity" required>
            <button class="btn btn-primary btn-md" type="submit" v-on:click.prevent="createNewContainer">Search</button>
        </form>
        <div class="container" v-for="(newcity,index) in arrayNewContainers" id="newContainer">
            <button @click="deleteRow(index)" class="btn btn-primary btn-sm" id="deleteButton">X</button>
            <!--            <div v-for= "value in dataObject">-->
            <div class="row" id="dataCity">
                <div class="col-sm-4">
                    <h1>{{newcity.city}}</h1>
                </div>
                <div class="col-sm-4">
                    <h3>Temperatura: {{newcity.temperature}}ºC</h3>
                </div>
                <div class="col-sm-4">
                    <h2>Tomorrow forecast</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" id="nowWeather">
                    <img :src="'Images/' + newcity.mainWeatherNow + '.jpg'">
                </div>

                <div class="col-sm-4">
                    <h4>Pressure: {{newcity.pressure}}hPa </h4>
                    <h4>Wind Speed: {{newcity.wind}}Km/h </h4>
                    <h4>Humidity: {{newcity.humidity}}% </h4>
                </div>


                <div class="col-sm-4" :id="tomorrowWeather">
                    <img :src="'Images/' + newcity.mainWeatherTomorrow + '.jpg'">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <p>{{newcity.weatherDescriptionNow}}</p>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <p>{{newcity.weatherDescriptionTomorrow}}</p>
                </div>
            </div>

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>
